<!DOCTYPE html>
<html class="group no-js{{ if theme }} {{ theme }}{{ /if }}" dir="ltr" id="{{ page_id }}" lang="en">
  <head>
    <!-- Styles -->
    {{ theme:css tag="true" }}
    {{ theme:css src="site.css" tag="true" }}
    {{ theme:partial src="meta" }}
    {{ theme:partial src="favicons" }}
    <script src="/_themes/tm3/js/site.js" type="module"></script>
    {{ if enable_map }}
    <script src="/_themes/tm3/js/map.js" type="module"></script>
    {{ /if }}
    <title>
      {{ if segment_1 }}{{ title }} - {{ /if }}{{ _site_name }}
    </title>
  </head>
  <body class="bg-neutral-950 duration-200 group-[.display-menu]:overflow-hidden opacity-0 transition-opacity">
    {{ if enable_analytics }}
    {{ theme:partial src="google-analytics" }}
    {{ /if}}

    {{ theme:partial src="header" }}
    {{ theme:partial src="menu" }}
    {{ theme:partial src="hero"}}

    <main class="relative transform-gpu z-20" id="site-wrapper">
      {{ layout_content }}
    </main>

    <!-- Scripts -->
    {{ if enable_audio }}{{ theme:js src="audio" tag="true" }}{{ /if }}
    {{ if enable_blur }}{{ theme:js src="libs/stackblur.min.js" tag="true" }}{{ /if }}
    {{ if enable_promises }}{{ theme:js src="libs/promise.min.js" tag="true" }}{{ /if }}
    {{ if page_js }}{{ theme:js src="{ page_js }" tag="true" }}{{ /if }}
  </body>
</html>
