<!DOCTYPE html>
<html class="no-js" dir="ltr" id="{{ page_id }}" lang="en">
    <head>
        <title>{{ _site_name }}{{ if segment_1 }} – {{ title }}{{ endif }}</title>

        <!-- Styles -->
        {{ theme:css tag="true" }}
        <!-- <link href="assets/css/index.css" rel="stylesheet" type="text/css"> -->

        {{ theme:partial src="meta" }}
        {{ theme:partial src="tiles" }}

        {{ theme:partial src="no-js" }}
        {{ theme:partial src="typekit" }}
        {{ theme:partial src="favicons" }}
    </head>
    <body>
        {{ theme:partial src="header" }}

        {{ layout_content }}

        <!-- Scripts -->
        {{ theme:js tag="true" }}
    </body>
</html>