{{ raven:form formset="messages" }}
    {{ if {raven:has_errors} }}
        <ul>
        {{ raven:errors }}
            {{ missing }}
              <li>{{ field }}: {{ message }}</li>
            {{ /missing }}

            {{ invalid }}
              <li>{{ field }}: {{ message }}</li>
            {{ /invalid }}
        {{ /raven:errors }}
        </ul>
    {{ /if }}

    {{ if {raven:success} }}
        <h3>Your message has been sent.</h3>
    {{ else }}
        <div class="grid">
            <div class="col-full">
                <input class="expand light" name="name" placeholder="Name" type="text" value="{{ value:name }}">
            </div>
            <div class="col-full">
                <input class="expand light" name="email" placeholder="Email" type="text" value="{{ value:email }}">
            </div>
            <div class="col-full">
                <textarea class="expand light" cols="40" name="message" placeholder="Message" rows="5">{{ value:message }}</textarea>
            </div>
            <div class="col-full">
                <input class="button expand light x-small" name="mail-list-submit-button" type="submit" value="Send Message">
            </div>
        </div>
    {{ /if }}
{{ /raven:form }}