<button class="bg-white/90 content-center flex focus:ring-2 h-16 hover:text-neutral-950 justify-center outline-none ring-cyan-500 ring-offset-2 rounded-full self-center text-cyan-500 transition-opacity w-16" data-url="{{ sample }}">
  <span class="sr-only">
    Play
  </span>
  <span class="-mr-1 pointer-events-none self-center" data-id="audio-player-play-icon">
    {{ theme:partial src="icons/play" }}
  </span>
  <span class="hidden pointer-events-none self-center" data-id="audio-player-stop-icon">
    {{ theme:partial src="icons/stop" }}
  </span>
</button>