<audio class="hidden" in id="audio-player" preload="none"></audio>
<script type="module">
  // Elements
  const $audioPlayer = document.getElementById("audio-player");

  // Events
  document.addEventListener("click", event => {
    const { target } = event;

    if (!target.dataset.url) {
      return;
    }

    const $audioPlayerPlayIcon = target.querySelector("[data-id='audio-player-play-icon']");
    const $audioPlayerStopIcon = target.querySelector("[data-id='audio-player-stop-icon']");

    if ($audioPlayer.getAttribute("src", 1) !== target.dataset.url) {
      $audioPlayer.src = target.dataset.url;
    }

    if (!$audioPlayer.paused) {
      $audioPlayer.pause();
    } else {
      $audioPlayer.play();
    }

    $audioPlayerPlayIcon.classList.toggle("hidden");
    $audioPlayerStopIcon.classList.toggle("hidden");
  });
  </script>