{{ if pdfs }}
<table>
  <tbody>
    {{ pdfs }}
    <tr class="last:border-t last:border-t-neutral-700">
      <th class="font-bold py-2 text-left">
        {{ label }}
      </th>
      <td class="text-right">
        <a class="focus:ring-2 hover:text-neutral-100 outline-none ring-cyan-500 ring-inset text-cyan-500 transition-colors" href="{{ download file="{pdf}" as="{pdf}" }}" title="Download this file in Word format">
          Download
        </a>
      </td>
    </tr>
    {{ /pdfs }}
  </tbody>
</table>
{{ endif }}