<div class="hero" id="location-{{ index }}" style="background-image: url({{ artwork }});">
    <div class="card grid-pad">
        <h2 class="style-1">{{ title }}</h2>

        <dl class="vcard" id="hcard-{{ name|slugify }}">
            <dt class="fn"><strong>{{ name }}</strong></dt>
            {{ if position }}<dd class="note">{{ position }}</dd>{{ endif }}
            <dd class="org">
                <div class="organization-name">{{ organization }}</div>
                <div class="organization-unit">{{ unit }}</div>
            </dd>
            <dd class="adr">
                {{ if address_1 }}<div class="street-address">{{ address_1 }}</div>{{ endif }}
                {{ if address_2 }}<div class="street-address">{{ address_2 }}</div>{{ endif }}
                <span class="locality">{{ city }}</span>, <span class="region">{{ state }}</span>, <span class="postal-code">{{ zip_code }}</span>
            </dd>
            <dd><a class="email link" href="mailto:{{ email|obfuscate }}">{{ email|obfuscate }}</a></dd>
        </dl>
    </div>
</div>