<!-- Tiles -->
<meta name="application-name" content="Timothy McAllister"/>
<meta name="msapplication-TileColor" content="#B0120A">
<meta name="msapplication-TileImage" content="{{ theme:img src="mstile-144x144.png" }}">
<meta name="msapplication-square70x70logo" content="{{ theme:img src="mstile-70x70.png" }}">
<meta name="msapplication-square150x150logo" content="{{ theme:img src="mstile-150x150.png" }}">
<meta name="msapplication-wide310x150logo" content="{{ theme:img src="mstile-310x150.png" }}">
<meta name="msapplication-square310x310logo" content="{{ theme:img src="mstile-310x310.png" }}">

<!-- Favicons -->
<link href="{{ theme:img src="apple-touch-icon-57x57.png" }}" rel="apple-touch-icon-precomposed" sizes="57x57">
<link href="{{ theme:img src="apple-touch-icon-114x114.png" }}" rel="apple-touch-icon-precomposed" sizes="114x114">
<link href="{{ theme:img src="apple-touch-icon-72x72.png" }}" rel="apple-touch-icon-precomposed" sizes="72x72">
<link href="{{ theme:img src="apple-touch-icon-144x144.png" }}" rel="apple-touch-icon-precomposed" sizes="144x144">
<link href="{{ theme:img src="apple-touch-icon-60x60.png" }}"  rel="apple-touch-icon-precomposed" sizes="60x60">
<link href="{{ theme:img src="apple-touch-icon-120x120.png" }}" rel="apple-touch-icon-precomposed" sizes="120x120">
<link href="{{ theme:img src="apple-touch-icon-76x76.png" }}"  rel="apple-touch-icon-precomposed" sizes="76x76">
<link href="{{ theme:img src="apple-touch-icon-152x152.png" }}" rel="apple-touch-icon-precomposed" sizes="152x152">
<link href="{{ theme:img src="favicon-196x196.png" }}" rel="icon" sizes="196x196" type="image/png">
<link href="{{ theme:img src="favicon-96x96.png" }}" rel="icon" sizes="96x96" type="image/png">
<link href="{{ theme:img src="favicon-32x32.png" }}" rel="icon" sizes="32x32" type="image/png">
<link href="{{ theme:img src="favicon-16x16.png" }}" rel="icon" sizes="16x16" type="image/png">
<link href="{{ theme:img src="favicon-128.png" }}" rel="icon" sizes="128x128" type="image/png">