<footer class="bg-black content-center flex flex-wrap p-8 shadow-md space-y-10 text-neutral-100">
  {{ theme:partial src="mailing-list-form" }}
  <div class="content-center flex gap-x-4 justify-center md:w-auto ml-auto w-full">
    {{ entries:listing conditions="slug:!prism-quartet" folder="social-links" show_hidden="true" }}
      <a class="hover:text-cyan-500 transition-colors" href="{{ social_url }}" target="_blank" title="Visit the {{ title }} page">
        {{ theme:partial src="icons/{{ page_icon }}" }}
        <span class="sr-only">{{ title }}</span>
      </a>
    {{ /entries:listing }}
  </div>
</footer>