<header class="backdrop-blur bg-black/90 fixed left-0 right-0 shadow-md top-0 z-30" id="site-header">
  <nav class="flex content-center justify-between" role="navigation">
    <h1 class="font-bold md:text-lg tracking-wide uppercase" id="logo">
      <a class="block px-4 py-2 focus:ring-2 outline-none ring-cyan-500 ring-inset text-neutral-100 tracking-widest" href="{{ homepage }}">
        Timothy M<small>c</small>Allister
      </a>
    </h1>

    <button class="text-neutral-100 px-4 py-3 focus:ring-2 outline-none ring-cyan-500 ring-inset" id="menu-open">
      {{ theme:partial src="icons/menu" }}
      <span class="sr-only">
        Menu
      </span>
    </button>
  </nav>
</header>