{{ raven:form attr="id:message-form" formset="messages" }}
    {{ message_form_content|markdown }}

    {{ if {raven:has_errors} }}
        <ul class="form-errors list">
        {{ raven:errors }}
            {{ missing }}
              <li><strong>{{ field|ucfirst }}</strong> is required</li>
            {{ /missing }}

            {{ invalid }}
              <li><strong>{{ field|ucfirst }}</strong> {{ message }}</li>
            {{ /invalid }}
        {{ /raven:errors }}
        </ul>
    {{ /if }}

    {{ if {raven:success} }}
        <h3 class="submission-confirmation">Your message has been sent.</h3>
    {{ else }}
        <div class="grid">
            <div class="col-full">
                <input class="expand light margin-half-vertical" name="name" placeholder="Name" required type="text" value="{{ value:name }}">
            </div>
            <div class="col-full">
                <input class="expand light margin-half-vertical" name="email" placeholder="Email" required type="email" value="{{ value:email }}">
            </div>
            <div class="col-full">
                <textarea class="expand light margin-half-vertical" cols="40" name="message" placeholder="Message" required rows="5">{{ value:message }}</textarea>
            </div>
            <div class="col-full">
                <div class="text-center">
                    <input class="button link" name="message-submit-button" type="submit" value="Send Message">
                </div>
            </div>
        </div>
    {{ /if }}
{{ /raven:form }}