<li class="h-event" data-latitude="{{LAT}}" data-longitude="{{LONG}}">
    <span class="calendar">
        <time class="dt-start" datetime="2014-07-16 20:00">{{MONTH}} <span class="day">{{DAY}}</span> <span class="year">{{YEAR}}</span></time>
    </span>

    <h4 class="p-name">{{TITLE}}</h4>

    <h5 class="p-location">
        <a class="p-name u-url link" href="{{URL}}">{{LOCATION}}</a>
    </h5>

    <div class="p-summary scrollable">
        {{SUMMARY}}
    </div>

    <table class="p-description detail-table">
        <tr>
            <th>Ensemble</th>
            <td>Chicago Symphony Orchestra</td>
        </tr>
        <tr>
            <th>Time</th>
            <td><time class="dt-start" datetime="2014-07-17 20:00">8:00 PM</time></td>
        </tr>
        <tr>
            <th>Website</th>
            <td><a class="u-url link" href="http://ravinia.org/ShowDetails/Index?id=745" title="Visit this site for more details">Visit Site</a></td>
        </tr>
    </table>
</li>