<figure class="group-[.hero]:absolute group-[.hero]:bg-gradient-to-b group-[.hero]:bottom-0 group-[.hero]:duration-300 flex flex-col group-[.hero]:from-0% group-[.hero]:from-transparent group-[.applause]:opacity-100 group-[.hero]:left-0 lg:text-lg group-[.hero]:opacity-0 group-[.hero]:p-8 quote group-[.hero]:right-0 space-y-4 text-base text-neutral-100 text-shadow group-[.hero]:to-black/75 group-[.hero]:transition-opacity">
  <blockquote class="font-mono font-medium group-[.hero]:md:w-3/5">
    {{ content|widont|smartypants }}
  </blockquote>

  <figcaption class="flex flex-col space-y-1">
    <span class="font-bold">{{ title|widont }}</span>
    <cite class="block italic">{{ source|widont }}</cite>
  </figcaption>
</figure>