<article class="lg:grid lg:grid-cols-2 lg:space-x-8 lg:space-y-0 space-y-8">
  <div class="aspect-square flex flex-col relative">
    <img alt="" class="aspect-square shadow-md w-full" loading="lazy" src="{{ artwork }}">
    {{ if show_sample && sample }}
    <noscript>
      <audio class="w-full" controls preload="none" src="{{ sample }}"></audio>
    </noscript>
    <div class="absolute bottom-0 content-center flex justify-center left-0 m-auto right-0 self-center top-0">
      {{ theme:partial src="audio-button" use_context="true" }}
    </div>
    {{ /if }}
  </div>
  <div class="flex flex-col leading-relaxed space-y-6">
    <h3 class="font-medium font-serif italic leading-snug text-2xl">
      {{ title|widont }}
    </h3>

    {{ content }}

    {{ if show_details }}
    <table>
      <tbody>
        {{ if datestamp }}
        <tr class="border-b border-b-inherit">
          <th class="font-bold py-2 text-left">
            Release date
          </th>
          <td class="text-right">
            {{ datestamp format="{{ _date_format }}" }}
          </td>
        </tr>
        {{ /if }}
        {{ if producer }}
        <tr class="border-b border-b-inherit">
          <th class="font-bold py-2 text-left">
            Producer
          </th>
          <td class="text-right">
            {{ entries:listing conditions="url:{producer}" folder="producers" limit="1" show_hidden="true" }}{{ title }}{{ /entries:listing }}
          </td>
        </tr>
        {{ /if }}
        {{ if catalog_number }}
        <tr>
          <th class="font-bold py-2 text-left">
            Catalog Number
          </th>
          <td class="text-right">
            {{ catalog_number }}
          </td>
        </tr>
        {{ /if }}
      </tbody>
    </table>
    {{ /if }}

    {{ if recording_url and show_more_information }}
    <a class="hover:text-neutral-100 text-cyan-500 transition-colors" href="{{ recording_url }}" target="_blank" title="{{ publisher_title }}">
      More Information
    </a>
    {{ /if }}

    {{ if show_learn_more }}
    <a class="hover:text-neutral-950 text-cyan-500 text-xl transition-colors" href="/recordings">
      All Recordings
    </a>
    {{ /if }}
  </div>
</article>