<div class="grid">
    <div class="col-1-3">
        {{ if recording_url }}<a href="{{ recording_url }}" title="{{ publisher_title }}">{{ endif }}
        <img alt="{{ title }}" src="{{ theme:img src="recordings/{{ slug }}.jpg" }}">
        {{ if recording_url }}</a>{{ endif }}
    </div>
    <div class="col-2-3">
        <h3>{{ title }}</h3>

        {{ content|markdown|widont }}

        <table class="detail-table">
            <tbody>
                {{ if producer }}
                <tr>
                    <th>Produced By</th>
                    {{ entries:listing conditions="url:{producer}" folder="producers" limit="1" show_hidden="true" }}
                    <td>{{ title }}</td>
                    {{ /entries:listing }}
                </tr>
                {{ endif }}
                {{ if datestamp }}
                <tr>
                    <th>Release Date</th>
                    <td>{{ datestamp format="{{ global_date_format }}" }}</td>
                </tr>
                {{ endif }}
                {{ if catalog_number }}
                <tr>
                    <th>Catalog Number</th>
                    <td>{{ catalog_number }}</td>
                </tr>
                {{ endif }}
                {{ if recording_url }}
                <tr>
                    <th>Website</th>
                    <td><a class="link" href="{{ recording_url }}" title="{{ publisher_title }}">Visit Site</a></td>
                </tr>
                {{ endif }}
            </tbody>
        </table>

        {{ if show_samples && sample }}
        <div class="text-center">
            <a class="sample button x-small pad" href="{{ sample }}">Play Sample (MP3)</a>
            <a class="sample button x-small pad" href="{{ sample }}">Play Sample (OGG)</a>
        </div>
        {{ endif }}
    </div>
</div>