<meta name="application-name" content="Timothy McAllister"/>
<meta name="msapplication-TileColor" content="#B0120A">
<meta name="msapplication-TileImage" content="{{ theme:img src="mstile-144x144.png" }}">
<meta name="msapplication-square70x70logo" content="{{ theme:img src="mstile-70x70.png" }}">
<meta name="msapplication-square150x150logo" content="{{ theme:img src="mstile-150x150.png" }}">
<meta name="msapplication-wide310x150logo" content="{{ theme:img src="mstile-310x150.png" }}">
<meta name="msapplication-square310x310logo" content="{{ theme:img src="mstile-310x310.png" }}">