<div class="row">
    <div class="col-1-2">
        {{ theme:partial enable_scrim="true" src="hero" use_context="true" }}
    </div>
    <div class="col-1-2" style="background-color: {{ background_color }};">
        <main class="pad" id="content" role="main">
            <h2 class="display-1">{{ title }}</h2>

            <div class="body-1 pad-vertical">
                {{ content|widont }}
            </div>

            <div class="text-center pad">
                <a class="button" href="/">Return to Homepage</a>
            </div>
        </main>
    </div>
</div>