<main id="content" role="main" style="background-color: {{ background_color }};">
    <div class="center-layout pad">
        <div class="headline intro">
            {{ content|widont }}
        </div>

        {{ if booking_title }}
        <h2 class="display-1">{{ booking_title }}</h2>

        <div class="row pad-vertical">
            <div class="col-1-2">
                {{ theme:partial src="vcard" use_context="true" }}
            </div>
            <div class="col-1-2">
                {{ theme:partial src="message-form" use_context="true" }}
            </div>
        </div>
        {{ /if }}

        {{ if video_title }}
        <h2 class="display-1">{{ video_title }}</h2>

        <div class="pad-vertical">
            {{ theme:partial src="video" use_context="true" }}
        </div>
        {{ /if }}

        {{ if recording_title }}
        <h2 class="display-1">{{ recording_title }}</h2>

        <div class="pad-vertical">
            {{ entries:listing conditions="slug:john-adams-city-noirsaxophone-concerto-david-robertsonst-louis-symphony" folder="recordings" limit="1" show_hidden="true" sort_by="datestamp" sort_dir="desc" }}
                {{ theme:partial show_details="true" show_more_information="true" show_sample="true" src="recording" use_context="true" }}
            {{ /entries:listing }}
        </div>
        {{ /if }}

        {{ if interview_links }}
        <h2 class="display-1">{{ interviews_title|specialchars }}</h2>

        <div class="pad-vertical">
            <table>
                <tbody>
                    {{ interview_links }}
                    {{ entries:listing conditions="url:{interview_link}" folder="links" limit="1" show_hidden="true" }}
                    <tr>
                        <th class="body-1 secondary-text">
                            &ldquo;{{ title }}&rdquo;</h3> &mdash; {{ if source }}<em><small>{{ source }}{{ /if }}{{ if month_year}}{{ if source and month_year }}, {{ /if }}{{ month_year }}{{ /if }}</small></em>
                        </th>
                        <td>
                            <a class="button float-right" href="{{ link|specialchars }}" target="_blank">Visit Site</a>
                        </td>
                    </tr>
                    {{ /entries:listing }}
                    {{ /interview_links }}
                </tbody>
            </table>
        </div>
        {{ /if }}

        {{ if critics_title }}
        <h2 class="display-1">{{ critics_title }}</h2>

        <div class="row quotes">
            {{ entries:listing conditions="adams_press:1" folder="quotes" show_hidden="true" sort_by="date" sort_dir="desc" }}
                <div class="col-1-2 pad-vertical">
                    {{ theme:partial src="quote" use_context="true" }}
                </div>
            {{ /entries:listing }}
        </div>
        {{ /if }}
    </div>
</main>