{{ theme:partial half_size="true" src="hero" use_context="true" }}

<main class="pad-vertical" id="content" role="main" style="background-color: {{ background_color }};">
    <div class="pad">
        <div class="row quotes">
            {{ entries:listing conditions="adams_press:!1" folder="quotes" show_hidden="true" sort_by="random" }}
                <div class="col-1-2">
                    <div class="pad">
                        {{ theme:partial src="quote" use_context="true" }}
                    </div>
                </div>
            {{ /entries:listing }}
        </div>
    </div>
</main>