{{ theme:partial src="hero" use_context="true" }}

<main id="content" role="main" style="background-color: {{ background_color }};">
    <div class="center-layout" id="articles">
        <div class="row pad">
            <h2 class="display-1">{{ title }}</h2>

            <div class="row quotes">
                {{ entries:listing conditions="adams_press:!1" folder="quotes" show_hidden="true" sort_by="date" sort_dir="desc" }}
                    <div class="col-1-2 pad-vertical">
                        {{ theme:partial src="quote" use_context="true" }}
                    </div>
                {{ /entries:listing }}
            </div>
        </div>
    </div>
</main>