{{ theme:partial half_size="true" src="hero" use_context="true" }}

<main id="content-wrapper" role="main" style="background-color: {{ background_color }};">
    <div id="content">
        <div class="pad">
            {{ content|widont }}

            {{ if pdfs }}
            <div class="text-center">
                {{ pdfs }}
                <a class="button border light download margin-half-vertical" href="{{ download file="{pdf}" as="{pdf}" }}">{{ label }}</a>
                {{ /pdfs }}
            </div>
            {{ endif }}
        </div>
    </div>
</main>