{{ theme:partial src="hero" use_context="true" }}

<main id="content" role="main">
    <div class="grid-pad">
        <h2 class="style-1">{{ title }}</h2>

        <div class="grid">
            {{ content|widont }}

            {{ if pdfs }}
            <div class="grid pad text-center">
                {{ pdfs }}
                <a class="button pad xx-small expand download" href="{{ download file="{pdf}" as="{pdf}" }}">{{ label }}</a>
                {{ /pdfs }}
            </div>
            {{ endif }}
        </div>
    </div>
</main>