{{ theme:partial half_size="true" src="hero" use_context="true" }}

<div class="pad-vertical" style="background-color: {{ background_color }};">
    <main id="content" role="main">
        <div class="pad">
            <div class="body-1">{{ content|widont }}</div>

            {{ if pdfs }}
            <div class="row">
                {{ pdfs }}
                <div class="col-1-2 margin-half-vertical text-center">
                    <a class="button download" href="{{ download file="{pdf}" as="{pdf}" }}">{{ label }}</a>
                </div>
                {{ /pdfs }}
            </div>
            {{ endif }}
        </div>
    </main>
</div>