{{ entries:listing folder="contact" show_hidden="true" }}
<div class="after:absolute after:backdrop-blur-md after:border-b-[20px] after:border-black/50 after:border-l-[20px] after:border-l-transparent after:border-r-0 after:content-[' '] after:right-0 after:top-[-20px] after:w-1/2 before:absolute before:backdrop-blur-md before:border-b-[20px] before:border-black/50 before:border-r-[20px] before:border-r-transparent before:border-l-0 before:content-[' '] before:left-0 before:top-[-20px] before:w-1/2 bg-cover bg-no-repeat h-[90vh] shadow-md sticky top-0 transform-gpu z-10" style="background-image: url({{ artwork }});">
  <div class="absolute bg-gradient-to-b bottom-0 flex flex-col from-0% from-transparent left-0 p-8 right-0 space-y-4 text-neutral-100 to-black/75">
    <h2 class="font-medium font-serif italic text-3xl">
      {{ title }}
    </h2>
    {{ theme:partial src="vcard" use_context="true" }}
  </div>
</div>
{{ /entries:listing }}