{{ theme:partial src="hero" }}

<section id="content">
    <div class="grid-pad">
        <div class="col-2-3">
            <h2 class="style-1">Latest Release</h2>

            {{ entries:listing folder="recordings" limit="1" show_hidden="true" show_samples="false" sort_by="datestamp" sort_dir="desc" }}
            {{ theme:partial src="recording" use_context="true" }}
            {{ /entries:listing }}

            <div class="grid-pad text-center">
                <a class="button small" href="/recordings">All Recordings</a>
            </div>
        </div>
        <div class="col-1-3 aside">
            <div class="grid-pad">
                {{ entries:listing folder="news" limit="1" sort_by="datestamp" sort_dir="desc" }}
                {{ theme:partial src="article" use_context="true" }}
                {{ /entries:listing }}

                <div class="grid-pad text-center">
                    <a class="button light x-small" href="/news">Full Article</a>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-pad">
        <h2 class="style-1">Upcoming Performances</h2>

        {{ theme:partial src="performances" limit="{upcoming_performances_total}" since="Today" until="December 31, 2014" }}

        <div class="grid-pad text-center">
            <a class="button small" href="/performances">All Performances</a>
        </div>
    </div>
</section>