<div class="bg-neutral-200 text-neutral-950">
  <div class="flex flex-col lg:w-1/2 md:w-2/3 mx-auto px-8 py-16 space-y-16">
    <h2 class="font-medium italic font-serif text-4xl tracking-wide">
      {{ title }}
    </h2>
    <div class="flex flex-col space-y-16">
    {{ entries:listing folder="news" show_hidden="false" sort_by="date" sort_dir="desc" }}
      {{ if total_results > 0 }}
        {{ theme:partial src="article" show_view_button="true" use_context="true" }}
      {{ else }}
        <p>There are no entries.</p>
      {{ endif }}
    {{ /entries:listing }}
    </div>
  </div>
</div>