{{ theme:partial src="hero" use_context="true" }}

<section id="content" style="background-color: {{ background_color }};">
    <div class="grid-pad">
        <h2 class="style-1">{{ title }}</h2>

        <div data-icon="down" id="year-selector-wrapper">
            <ol>
                {{ entries:listing folder="performances" group_by_date="Y" show_future="true" show_hidden="true" }}
                {{ if grouped_date }}
                <li><a class="link" href="?year={{ grouped_date }}">{{ grouped_date }}</a></li>
                {{ endif }}
                {{ /entries:listing }}
            </ol>
        </div>

        <div id="map-wrapper">
            {{ theme:partial src="performances" since="01/01/{ get:year }" until="12/31/{ get:year }" }}
        </div>
    </div>
</section>