<div class="bg-neutral-100 text-neutral-100">
  <div class="container flex flex-col mx-auto px-8 py-8">
    <h2 class="font-medium italic font-serif text-4xl text-neutral-900 tracking-wide">
      {{ title }}
    </h2>
  </div>
  <div class="relative" id="map-wrapper">
    <select class="absolute bg-neutral-100 font-bold px-4 py-3 right-4 rounded-lg shadow-md text-lg text-neutral-900 top-4 z-10" id="year-selector">
    {{ entries:listing folder="performances" group_by_date="Y" show_future="true" show_hidden="true" }}
    {{ if grouped_date }}
      <option value="?year={{ grouped_date }}">
        {{ grouped_date }}
      </option>
      {{ /if }}
    {{ /entries:listing }}
    </select>
    {{ theme:partial src="performances" since="01/01/{ get:year }" until="12/31/{ get:year }" }}
  </div>
</div>