<main id="content" role="main" style="background-color: {{ background_color }};">
    <div class="center-layout pad">
        <h2 class="display-1">{{ title }}</h2>

        {{ if photos_title }}
        <div class="pad-vertical">
            {{ if downloads }}
                {{ downloads }}
                {{ if index|%:2 == 1 and index > 1 }}</div>{{ /if }}
                {{ if index|%:2 == 1 }}<div class="row">{{ /if }}
                    <div class="col-1-2">
                        <img alt="" src="{{ transform src="{ photo_download }" quality="100" width="{ download_small_size }" }}" />

                        <div class="text-center pad-half-vertical">
                            <a class="button inline" data-actionlink="true" href="/TRIGGER/download/download?file={{ transform src="{ photo_download }" quality="100" width="{ download_medium_size }" }}" title="Download a low resolution version of this photo">Low</a>

                            <a class="button inline" data-actionlink="true" href="/TRIGGER/download/download?file={{ transform src="{ photo_download }" quality="100" width="{ download_large_size }" }}" title="Download a high resolution version of this photo">High</a>
                        </div>
                    </div>
                {{ /downloads }}
            {{ /if }}
            </div>
        </div>
        {{ /if }}

        {{ get_content from="biography" }}
        <div class="pad-vertical">
            {{ theme:partial light="true" src="biography-downloads" use_context="true" }}
        </div>
        {{ /get_content }}
    </div>
</main>