<div class="bg-zinc-900 text-neutral-100">
  <div class="flex flex-col lg:w-1/2 md:w-2/3 mx-auto px-8 py-16 space-y-16">
    <h2 class="font-medium italic font-serif text-4xl tracking-wide">
      {{ title }}
    </h2>
    {{ if photos_title }}
    <div class="flex flex-col md:gap-4 md:grid md:grid-cols-2 md:space-y-0 space-y-8">
    {{ if downloads }}
      {{ downloads }}
      {{ if photo_download }}
      <figure class="flex flex-col space-y-2">
        <img alt="" class="aspect-video object-cover" src="{{ transform src="{ photo_download }" quality="100" width="{ download_small_size }" }}" />
        <figcaption class="flex gap-x-16 justify-center text-cyan-500 transition-colors">
          <a class="focus:ring-2 hover:text-neutral-100 outline-none ring-cyan-500 ring-inset" href="/TRIGGER/download/download?file={{ transform src="{ photo_download }" quality="100" width="{ download_medium_size }" }}" title="Download a low resolution version of this photo">Low</a>
          <a class="focus:ring-2 hover:text-neutral-100 outline-none ring-cyan-500 ring-inset" href="/TRIGGER/download/download?file={{ transform src="{ photo_download }" quality="100" width="{ download_large_size }" }}" title="Download a high resolution version of this photo">High</a>
        </figcaption>
      </figure>
      {{ /if }}
      {{ /downloads }}
    {{ /if }}
    </div>
    {{ get_content from="biography" }}

    {{ theme:partial light="true" src="biography-downloads" use_context="true" }}
    {{ /get_content }}
    {{ /if }}
  </div>
</div>