#sitemap [data-icon]::before
{
    font-size: 2rem;
    margin-right: 10px;
}

#sitemap a
{
    color: #222;
    display: block;
    font-size: 1.1rem;
    letter-spacing: 0.3rem;
    padding: 0 15px;
    text-transform: uppercase;
}

@media (min-width: 1024px)
{
    .js #content
    {
        left: 0;
        padding-top: 80px;
    }

    .js #content,
    .js .hero
    {
        bottom: 0;
        position: fixed;
        right: 0;
        top: 0;
        width: 50%;
    }
}