#content
{
    min-height: 475px;
    width: 100%;
}

#sitemap [data-icon]::before
{
    font-size: 2rem;
    margin-right: 10px;
}

#sitemap a
{
    color: #222;
    display: block;
    font-size: 1.1rem;
    letter-spacing: 0.3rem;
    padding: 0 15px;
    text-transform: uppercase;
}

@media (min-width: 768px)
{
    .fixed-hero { background-position: -500px center !important; }

    .hero
    {
        bottom: 0;
        position: fixed;
        top: 0;
        width: 50%;
    }

    .hero .quotes
    {
        right: 24px;
        width: auto;
    }

    #content
    {
        float: right;
        min-height: 625px;
        padding-top: 80px;
    }
}