.hero
{
    background-image: url(../img/tim-2.jpg);
    background-position: left top;
}

@media (min-width: 1024px)
{
    .js #content
    {
        float: right;
        padding-top: 80px;
        width: 50%;
    }

    .js .hero
    {
        bottom: 0;
        position: fixed;
        top: 0;
        width: 50%;
    }
}