.button
{
    background: transparent;
    border: 0;
    color: #202020;
    cursor: pointer;
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    margin: 0;
    padding: 8px 16px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
    -webkit-appearance: none;
}

.button.block
{
    display: block;
    width: 100%;
}

.button.sample.center
{
    left: 50%;
    margin-left: -33px;
    margin-top: -43px;
    position: absolute;
    top: 50%;
}

.button.border
{
    border: 1px solid #DBDBDB;
    border-radius: 0;
}

.button.sample
{
    color: transparent !important;
    height: 64px;
    padding: 0;
    width: 64px;
}

.button.sample.small
{
    height: 44px;
    width: 44px;
}

.button.border.sample
{
    background: rgba(0, 0, 0, 0.25);
    border: 3px solid #fff !important;
    border-radius: 128px;
}

.button.border.sample.small { border-width: 2px !important; }

.button.sample[data-icon]::before
{
    display: block;
    font-size: 2rem;
    line-height: 64px;
    margin: 0 auto;
}

.button.sample.small[data-icon]::before
{
    font-style: 1.25rem;
    line-height: 44px;
}

.button.sample.positioned,
.button.sample.small.positioned { position: absolute; top: 50%; margin-top: -32px; }

.button.sample.small.positioned { margin-top: -22px; }

.button.border:hover { background-color: rgba(0, 0, 0, 0.5); color: #FFF; }

@media (min-width: 768px)
{
    .button { width: auto; }
}