.button
{
    background: transparent;
    border: 0;
    color: #202020;
    cursor: pointer;
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    margin: 0;
    padding: 8px 16px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
    -webkit-appearance: none;
}

.button.block
{
    display: block;
    width: 100%;
}

.button.sample.shadow { box-shadow: 0 0 2px #000; }

.button.sample.center
{
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    position: absolute;
    top: 50%;
}

.button.sample
{
    background: rgba(0, 0, 0, 0.25);
    border: 2px solid #fff;
    border-radius: 128px;
    color: transparent;
    height: 64px;
    padding: 0;
    width: 64px;
}

.button.sample[data-icon]::before
{
    display: block;
    font-size: 2rem;
    line-height: 64px;
    margin: 0 auto;
}

.button.border { border: 1px solid #DBDBDB; }