.hero
{
    background-position: top center;
    background-size: cover;
    position: relative;
}

.hero:first-child { margin-bottom: 30px; }

.card
{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

@media (min-width: 768px)
{
    #mailing-list-form-wrapper
    {
        padding-top: 90px;
        position: fixed;
        right: 0;
        width: 35%;
    }
}