.hero
{
    background-position: top center;
    background-size: cover;
    margin-bottom: 20px;
    position: relative;
}

.col-1-2:last-of-type .hero { margin-bottom: 0; }

.card
{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

@media (min-width: 768px)
{
    .hero
    {
        margin: 0 30px 0 0;
        min-height: 0;
    }

    .col-1-2,
    .grid,
    .hero
    {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .col-1-2:last-child
    {
        left: auto;
        right: 0;
    }

    .col-1-2:last-child .hero
    {
        margin: 0;
    }

    .js .card
    {
        left: 0;
        right: 0;
    }
}