.hero
{
    background-position: top center;
    background-size: cover;
    margin-bottom: 24px;
    position: relative;
}

.tile
{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

#mailing-list-form-wrapper
{
    padding-top: 120px;
}