.h-event
{
    margin: 0;
    padding: 16px;
    min-width: 300px;
}

.h-event { min-width: 285px; \ ;} /* IE 9 */

.h-event tr:first-child td { border: 0; }

.h-event .dt-start
{
    background-color: #FFF;
    border: 1px solid #DBDBDB;
    height: 64px;
    width: 64px;
}

.h-event .dt-start,
.h-event .month,
.h-event .day,
.h-event .year,
.h-event .time
{
    display: block;
    text-align: center;
}

.h-event .month,
.h-event .year
{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.h-event .month
{
    background-color: #b0120a;
    color: #FFF;
}

.h-event .day
{
    color: #202020 !important;
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
}

.h-event .year
{
    color: #202020 !important;
    font-weight: 400;
}

.h-event .time { clear: both; }

.h-event .location-link { margin-top: 12px; }

.calendar { float: left; width: 25% !important; }
.event-headlines { float: left; width: 75% !important; }

@media (min-width: 768px)
{
    .map #performance-list
    {
        bottom: 32px;
        left: 16px;
        margin: 0;
        overflow: auto;
        position: absolute;
        right: 0;
        top: 16px;
        width: 320px;
        z-index: 1;
    }

    .map #performance-list .h-event
    {
        cursor: pointer;
        padding: 12px;
        overflow: hidden;
    }

    .map #performance-list .h-event .button { display: none; }

    .map #performance-list .h-event tr,
    .map #performance-list .h-event .p-summary { display: none; }

    .map #performance-list .h-event tr:first-child { display: table-row; }

    .map #performance-list .h-event.active { background-color: #01579b; }
    .map #performance-list .h-event.active * { color: #fff; }
}