fieldset { border: 0; padding: 0; }

[type=email],
[type=text],
textarea
{
    border: 1px solid #DBDBDB;
    border-radius: 0;
    font-size: 13px;
    overflow: auto;
    resize: none;
    -webkit-appearance: none;
}

[type]:focus,
textarea:focus { outline: none; }

.form-error { background-color: #b0120a; }