#live-recordings .hero::before { background: none !important; }

#live-recordings-list
{
    margin: 30px 0;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 1;
}

#live-recordings-list li
{
    display: block;
    height: auto;
    margin: 0 0 15px 0;
    position: relative;
    vertical-align: top;
    width: 100%;
    padding: 0 30px;
}

#live-recordings-list li:last-of-type { border-bottom: 0; }

#live-recordings-list li .sample { margin: 0; }

@media (min-width: 1024px)
{
    #live-recordings .hero
    {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .col-1-2:first-of-type
    {
        bottom: 0;
        left: 0;
        position: absolute;
        top: 0;
        z-index: 0;
    }

    .col-1-2:last-of-type { float: right; }
}