.fixed-hero
{
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 76px;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.hero
{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.hero.short { min-height: 325px; }

.hero::before,
.overlay::before
{
    background: -o-linear-gradient(bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.01) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.01) 100%); /* IE10+ */
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.01) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03000000', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

.fixed.hero::before,
.fixed.overlay::before
{
    height: 100%;
    position: fixed;
}

img { max-width: 100%; }
#map-canvas img { max-width: none; }

@media (min-width: 768px)
{
    .hero { min-height: 600px; }
    .hero.short { min-height: 450px; }
}