.fixed-hero
{
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
}

.hero
{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 475px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.hero-mask::after,
.hero-mask::before
{
    border-bottom: 20px solid #fff;
    bottom: 0;
    content: ' ';
    display: block;
    height: 0;
    position: absolute;
    width: 50%;
    z-index: 2;
}

.hero-mask:before
{
    border-left: 0;
    border-right: 20px solid transparent;
    left: 0;
}

.hero-mask:after
{
    border-right: 0;
    border-left: 20px solid transparent;
    right: 0;
}

.hero::before,
.overlay::before
{
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.2) 100%); /* IE10+ */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.fixed.hero::before,
.fixed.overlay::before
{
    height: 100%;
    position: fixed;
}

img { max-width: 100%; }
#map-canvas img { max-width: none; }

@media (min-width: 768px)
{
    .hero { min-height: 625px; }
}