.js #map
{
    background-color: #FFF;
    height: auto;
}

#map-wrapper
{
    position: relative;
}

#map-wrapper::before
{
    background-image: url('../img/loader.gif');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 24px;
    z-index: -1;
}

#map-canvas
{
    display: none;
    z-index: 1;
}

@media (min-width: 768px)
{
    #map-wrapper::before
    {
        background-position: center center;
    }

    .gm-style-iw + div { display: none; }

    .gm-style-iw { left: 21px !important; }

    .gm-style-iw .h-event .p-summary,
    .gm-style-iw .h-event .button { display: block; }

    .gm-style-iw .h-event
    {
        border: 0;
        font-size: 15px;
        margin-bottom: 0;
        padding: 0;
    }

    .gm-style-iw .h-event dt.p-name,
    .gm-style-iw .h-event .p-location
    {
        font-size: 18px;
        line-height: 24px;
    }

    .map #map-canvas
    {
        bottom: 0;
        display: block;
        left: 0;
        position: absolute !important;
        right: 0;
        top: 0;
    }
}