#map-canvas { display: none; }

#map-wrapper { position: relative; }

#map-wrapper::after
{
    bottom: 0;
    content: 'Loading Season';
    font-size: 1rem;
    font-weight: 700;
    left: 0;
    letter-spacing: 0.125rem;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    z-index: -1;
}

@media (min-width: 768px)
{
    .gm-style-iw .h-event .p-summary
    {
        display: block;
    }

    .gm-style-iw .h-event
    {
        border: 0;
        margin-bottom: 0;
        padding: 0;
    }

    .gm-style-iw .h-event dt.p-name,
    .gm-style-iw .h-event .p-location
    {
        font-size: 18px;
        line-height: 24px;
    }

    .gm-style-iw .h-event .p-summary
    {
        max-height: 75px;
        overflow: auto;
    }

    .map #map-canvas
    {
        bottom: 0;
        display: block;
        left: 0;
        position: absolute !important;
        right: 0;
        top: 0;
    }

    /*.map #map { height: 575px; }*/
}