#logo
{
    font-size: 14px;
    letter-spacing: 0.25rem;
    line-height: 28px;
    margin: 0;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-top: 24px;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 5;
}

#menu-toggle
{
    cursor: pointer;
    display: none;
    opacity: 1;
    overflow: hidden;
    position: fixed;
    right: 16px;
    text-align: center;
    top: 22px;
    width: 48px;
    z-index: 7;
}

#menu
{
    background-color: #000;
    padding-top: 80px;
    overflow: hidden;
    position: relative;
    z-index: 6;
}

.js #menu
{
    bottom: 0;
    overflow: auto;
    overflow-x: hidden;
    padding-top: 16px;
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    -webkit-overflow-scrolling: touch;
}

#menu [data-icon]::before
{
    font-size: 2rem;
    margin-right: 16px;
}

#menu-toggle::before { font-size: 2.07rem; }

.js #menu-toggle { display: block; }

#menu a { font-weight: 400; }

body.checked { overflow: hidden; }

body.checked #menu-toggle { right: 8px; }

body.checked #menu-toggle::before { content: "\e60f"; }

body.checked #menu { width: 320px; }

@media (min-width: 768px)
{
    #logo { font-size: 22px; }
}