#logo
{
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

#menu-toggle
{
    cursor: pointer;
    display: none;
    opacity: 1;
    overflow: hidden;
    position: fixed;
    right: 4px;
    text-align: center;
    top: 2px;
    width: 48px;
    z-index: 5;
}

#menu
{
    background-color: #000;
    overflow: hidden;
    padding-top: 60px;
}

.js #menu
{
    height: 100%;
    overflow: scroll;
    padding-top: 36px;
    position: fixed;
    right: 0;
    top: 0;
    transition: .3s ease all;
    width: 0;
    z-index: 4;
    -webkit-overflow-scrolling: touch;
}

.js #menu-toggle { display: block; }

body.checked { overflow: hidden; }
body.checked #menu { width: 320px; }