article::after
{
    background-color: rgba(0, 0, 0, 0.25);
    content: '';
    display: block;
    height: 1px;
    margin: 6rem auto;
    width: 6rem;
}

article:last-of-type::after
{
    background-color: transparent;
    margin-top: 3rem;
}

time { font-weight: 200; }

#content
{
    max-width: 960px;
    margin: 0 auto;
}

.hero
{
    background-image: url(../img/tim-5.jpg);
    background-position: center center;
}