#year-selector-wrapper ol
{
    list-style: none;
    margin: 30px;
    overflow: hidden;
    padding: 0;
}

#year-selector-wrapper li
{
    border: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
    margin: 2px;
}

#year-selector-wrapper a
{
    display: block;
    padding: 30px;
}

#year-selector-wrapper a:hover
{
    background-color: #a42836;
    color: #fff;
}

.js #year-selector-wrapper
{
    position: relative;
    width: 100%;
}

.js #year-selector
{
    background-color: #fff;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    padding: 8px 16px;
    width: 100%;
    -webkit-appearance: none;
}

.js #year-selector-wrapper::before
{
    bottom: 0;
    font-size: 28px;
    line-height: 44px;
    pointer-events: none;
    position: absolute;
    right: 16px;
    text-align: center;
}

@media (min-width: 768px)
{
    #content { background-color: transparent !important; }

    .js #year-selector-wrapper
    {
        position: absolute;
        right: 16px;
        top: 16px;
        width: 125px;
        z-index: 2;
    }
}