#legend [data-icon]::before,
#timeline [data-icon]::before
{
    font-size: 2rem;
    left: 20px;
    position: absolute;
}

#timeline li:last-child { border-bottom: 0; }

#timeline td,
#timeline th { border: 0; }

@media (min-width: 1024px)
{
    .js #content
    {
        float: right;
        padding-top: 80px;
        width: 50%;
    }

    .js .hero
    {
        bottom: 0;
        min-height: 0;
        position: fixed;
        top: 0;
        width: 50%;
    }
}