.quote
{
    font-size: 10px;
    margin: 0;
    text-shadow: 0 0 2px #000;
}

.quote figcaption
{
    margin-top: 24px;
}

.quote cite
{
    display: block;
    font-style: normal;
}

.js .hero .quote { opacity: 0; }
.hero .quote:first-child { opacity: 1; }

.hero .quotes
{
    bottom: 44px;
    left: 24px;
    position: absolute;
    right: 24px;
    z-index: 3;
}

.hero .quote
{
    bottom: 0;
    font-size: 11px;
    left: 0;
    position: absolute;
    right: 0;
}

@media (min-width: 768px)
{
    .quote
    {
        font-size: 11px;
        padding: 24px;
    }

    .quotes.left
    {
        left: 24px;
        right: auto;
        text-align: left;
    }

    .quotes.right
    {
        right: 24px;
        text-align: right;
    }

    .hero .quotes { width: 50%; }

    .hero .quotes.right { left: auto; }

    .hero .quote { font-size: 14px; }
}