.hero .quotes
{
    bottom: 30px;
    left: 30px;
    position: absolute;
    right: 30px;
}

.hero .quote
{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

.quote
{
    color: #fff;
    font-weight: 300;
    margin: 0;
}

.quote blockquote
{
    font-size: 1.25rem;
    margin: 0;
}

.quote figcaption
{
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 20px;
    text-align: right;
    text-transform: uppercase;
}

.quote cite
{
    display: block;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: none;
}

.quote blockquote { font-size: 1.2rem; }
.quote figcaption { font-size: 0.8rem; }
.quote blockquote, .quote figcaption { font-family: 'museo-slab'; }
.js .hero .quote { opacity: 0; }
.hero .quote:first-child { opacity: 1; }
.hero .quote blockquote { font-size: 1.25rem; }
.hero .quote figcaption { font-size: 1rem; }

@media (min-width: 768px)
{
    .hero .quote blockquote { font-size: 1.5rem; }
    .hero .quotes { left: 60px; right: 60px; }
}

@media (min-width: 1024px)
{
    .hero .quote blockquote { font-size: 1.75rem; }
    .hero .quotes { left: 120px; right: 120px; }
}