.hero .quotes
{
    bottom: 44px;
    left: 24px;
    position: absolute;
    right: 24px;
    z-index: 3;
}

.hero .quote
{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

.quote
{
    margin: 0;
}

.quote figcaption
{
    margin-top: 24px;
}

.quote cite
{
    display: block;
    font-style: normal;
}

.js .hero .quote { opacity: 0; }
.hero .quote:first-child { opacity: 1; }

@media (min-width: 768px)
{
    .quotes.left
    {
        left: 24px;
        right: auto;
        text-align: left;
    }

    .quotes.right
    {
        right: 24px;
        text-align: right;
    }

    .hero .quotes.half { width: 40%; }
    .hero .quotes.half.right { left: auto; }
}