.detail-table
{
    font-size: 1rem;
    width: 100%;
    margin: 10px 0;
}

.detail-table th,
.detail-table td
{
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    vertical-align: top;
}

.detail-table tr:last-child th,
.detail-table tr:last-child td
{
    border-bottom: 0;
}

.detail-table th
{
    letter-spacing: 0.0625rem;
    text-align: left;
    text-transform: uppercase;
    width: 45%;
}

.detail-table td
{
    font-size: 1.1rem;
    text-align: right;
}

.detail-table [data-icon]::before
{
    font-size: 2rem;
    padding-right: 5px;
}

.detail-table .link
{
    font-weight: 700;
}