table
{
    border-collapse: collapse;
    width: 100%;
}

td, th
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-weight: 400;
    padding: 6px 0;
    text-align: left;
    vertical-align: top;
}

tr:last-child td, tr:last-child th { border-bottom: 0; }

.dark td, .dark th { border-color: rgba(255, 255, 255, 0.1); }