/* Dark */
.dark [type],
.dark textarea,
[type].light,
textarea.light
{
    background-color: #222;
    border-color: rgba(255, 255, 255, 0.1);
    border-style: solid;
    border-width: 1px;
}

.dark .button,
.dark .button:link,
.dark .button:visited,
.button.light
{
    background-color: none;
    border-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.dark body { background-color: #111; }

.dark .detail-table th,
.dark .detail-table td,
.dark .style-1 { border-color: rgba(255, 255, 255, 0.1); }

.dark .button:hover,
.button.light:hover { background-color: rgba(255, 255, 255, 0.1); }

.dark body,
.dark body *,
.dark legend,
legend.light,
.dark .link,
.dark .link:link,
.dark .link:visited { color: #fff; }

.dark .link { font-weight: 700; }

/* Light */
.light #content .quote { color: #222; }