html { font-size: 16px; }
@media (min-width: 768px) { html { font-size: 17px; } }

body,
.gm-style
{
    font-family: 'brandon-grotesque', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.quote { font-family: 'museo-slab'; }

/* Resets */
a { text-decoration: none; }
em { font-style: normal; }
strong { font-weight: 400; }

/* Standard Styles */
.display-4
{
    font-size: 7rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 3.0rem;
    margin: 0;
}

.display-3
{
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 3.0rem;
    margin: 0;
}

.display-2
{
    font-size: 2.8125rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 3.42857142857143rem;
    margin: 0;
}

.display-1
{
    font-size: 2.125rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.85714285714286rem;
    margin: 0;
}

.headline
{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.28571428571429rem;
    margin: 0;
}

.title
{
    font-size: 1.15rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.75rem;
    margin: 0;
}

.subhead
{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.1rem;
    margin: 0;
}

.body-2,
.body-1
{
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.42857142857143rem;
    margin: 0;
}

.body-2
{
    font-weight: 700;
    line-height: 1.71428571428571rem;
}

.caption
{
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0;
}


@media (min-width: 768px)
{
    .button { width: auto; }
}

/* Lists */
.list { list-style: none; margin: 0; padding: 0; }
.square { list-style: square; }
.disc { list-style: disc; }
.divider-dark { border-bottom: 1px solid rgbargba(0, 0, 0, 0.1); }
.divider-light { border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
.divider:last-of-type { border: 0; }

/* Colors */
.callout { background-color: #353639; }
#menu li:hover { background-color: #607d8b; }

.black-87,
.primary-text,
body,
.gm-style-iw .panel *,
.dark [type=email], .dark [type=text],
.dark textarea
{ color: #202020; }

.black-54,
.secondary-text,
.button.sample[data-icon]::before
{ color: #727272; }

.black-26,
.hint-text
{ color: #B9B9B9; }

.black-12
{ color: #DBDBDB; }

td, th
{
    border-color: #DBDBDB;
}

.link,
.link:link,
.link:visited,
.gm-style-iw .link,
.gm-style-iw .link:link,
.gm-style-iw .link:visited
{ color: #03a9f4; }

#logo a,
#menu a,
#menu-toggle,
.callout *,
.callout .link,
.white-100,
.light-text,
.quotes *,
.checked ~ #logo a,
.dark *,
.dark .link,
.button.sample.light[data-icon]::before
{ color: #FFF; }


/* Specific Elements */
#logo
{
    line-height: 2.25rem;
    margin: 0;
    padding-left: 12px;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

#menu a
{
    font-weight: 400;
}

#menu [data-icon]::before
{
    font-size: 2rem;
    margin-right: 16px;
}

#menu-toggle::before { font-size: 2.07rem; }