html { font-size: 16px; }
@media (min-width: 768px) { html { font-size: 17px; } }

body,
.gm-style
{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.quote { font-family: 'Roboto Slab', Courier; }

/* Resets */
a { text-decoration: none; }
em { font-style: italic; }
strong { font-weight: 700; }

/* Standard Styles */
.display-2
{
    font-size: 2.25em;
    font-weight: 400;
    line-height: 2.25em;
    margin: 0;
}

.display-1
{
    font-size: 2.1em;
    font-weight: 400;
    margin: 0;
}

.headline
{
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0;
}

.title
{
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.5em;
    margin: 0;
}

.subhead
{
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0;
}

.body-2,
.body-1
{
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.5em;
    margin: 0;
}

.body-2 { font-weight: 700; }

.intro { padding-bottom: 96px; }

/* Lists */
.list { list-style: none; margin: 0; padding: 0; }
.list.dark-borders li { border-bottom: 1px solid #DBDBDB; }
.list.light-borders li { border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
.list.dark-borders li:last-child, .list.light-borders li:last-child { border-bottom: 0; }
.square { list-style: square; }
.disc { list-style: disc; }

/* Colors */
.callout { background-color: #353639; }

.black-87,
.primary-text,
body,
.gm-style-iw .panel *,
.dark [type=email], .dark [type=text],
.dark textarea { color: #202020; }

.black-54,
.secondary-text,
.button.sample[data-icon]::before { color: #727272; }

.black-26,
.hint-text { color: #B9B9B9; }

.black-12 { color: #DBDBDB; }

#content p a,
.card a,
.link,
.link:link,
.link:visited,
.gm-style-iw .link,
.gm-style-iw .link:link,
.gm-style-iw .link:visited { color: #03a9f4; }

#logo a,
#menu a,
#menu-toggle,
.callout *,
.callout .link,
.white-100,
.light-text,
.quotes *,
.dark *,
.dark .link,
.button.sample.light[data-icon]::before,
.button.light[data-icon]::before,
.button.light
{ color: #FFF; }
