.center { margin: 0 auto; }
.clear-left { clear: left; }
.display-none { display: none !important; }
.expand { display: block; width: 100%; }
.fixed { bottom: 0; left: 0; position: fixed; right: 0; top: 0; }
.float-left { float: left !important; }
.float-right { float: right !important; }
.js .fadein { opacity: 1 !important; }
.js .fadeout { opacity: 0; }
.right { right: 12px; }
.scrollable { -webkit-overflow-scrolling: touch; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.width-5 { width: 5%; }
.width-10 { width: 10%; }
.width-16 { width: 15%; }
.width-20 { width: 20%; }
.width-25 { width: 25%; }
.width-30 { width: 30%; }
.width-35 { width: 35%; }
.width-40 { width: 40%; }
.width-45 { width: 45%; }
.width-50 { width: 50%; }
.width-56 { width: 55%; }
.width-60 { width: 60%; }
.width-65 { width: 65%; }
.width-70 { width: 70%; }
.width-75 { width: 75%; }
.width-80 { width: 80%; }
.width-85 { width: 85%; }
.width-90 { width: 90%; }
.width-95 { width: 95%; }
.width-100 { width: 100%; }

.overflow-hidden
{
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.vcard
{
    margin: 0;
    padding: 0;
}

.vcard dt,
.vcard dd
{
    margin: 0;
    padding: 0;
}

.vcard .email
{
    font-weight: 700;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}